.detailsButton {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border: none;
    border-radius: 8px;
    gap: 8px;
    background-color: #F8F8F8;
    cursor: pointer;
    color: #141414;
}

.detailsButton:hover {
    color: #6A0BFF;
}

.buttonDescription {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: inherit;
}

@media (width <=768px) {
    .buttonDescription {
        display: none;
    }
}