.drawerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
}

.drawer {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 70px;
    width: 360px;
    max-width: 100vw;
    height: calc(100vh - 70px);
    background-color: #fff;
    box-shadow: 0 4px 10px 0 #6a63761a;
    z-index: 999;
    overflow: hidden;
}

.drawerLeft {
    left: 0;
}

.drawerRight {
    right: 0;
}

.drawerHeader {
    display: flex;
}

.drawerContent {
    padding: 24px;
    background-color: #fff;
    overflow-y: auto;
    flex: 1;
    -webkit-overflow-scrolling: touch;
}