.drawerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
}

.drawer {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 70px;
    bottom: 0;
    height: 100%;
    width: 360px;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 #6a63761a;
    z-index: 999;
}

.drawerLeft {
    left: 0;
}

.drawerRight {
    right: 0;
}

.drawerHeader {
    display: flex;
}

.drawerContent {
    padding: 24px;
    background-color: #fff;
}