.questionsList {
    display: flex;
    flex-direction: column;
}

.questionsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 24px;
}

.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #191919;
    margin-bottom: 17px;
}

.desciption {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
}