.header {
    height: 70px;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: center;
}

.wrapper {
    background-color: inherit;
    max-width: 1440px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.titleBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.appLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 172px;
}

.logo {
    height: 33px;
    width: 33px;
}

.title {
    height: 32px;
    width: 99px;
}

.navNenu {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navNenu>li {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #191919;
    cursor: pointer;
    padding: 6px 10px;
}

.navNenu>li:hover {
    border-radius: 12px;
    background-color: #F8F8F8;
    color: #5509CC;
}

.navLink {
    color: inherit;
}

.auth {
    display: flex;
    align-items: center;
    gap: 26px;
}

.authLink {
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    color: #6A0BFF;
}

.authButton {
    width: 170px;
    height: 48px;
    background-color: #6A0BFF;
    border-color: #6A0BFF;
    color: white;
    border: none;
    border-radius: 13px;
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    cursor: pointer;
}