.button {
    padding: 13px 0;
    border: none;
    border-radius: 12px;
    background-color: #6A0BFF;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    transition: all .2s ease-in-out;
}

.button:hover {
    background-color: #5509CC;
}

.button:active {
    background-color: #400799;
}

.button:disabled {
    background-color: #D1D1D1;
    cursor: default;
}