.filters {
    height: auto;
    max-width: 360px;
    min-width: 360px;
    position: sticky;
    top: 0;
}

.filtersList {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.filtersError {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtersErrorDescription {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
}