.details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper {
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 4px 10px 0 #6a63761a;
    background-color: white;
}

.questionTitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #303030;
    margin-bottom: 12px;
}

.answerTitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #303030;
    margin-bottom: 20px;
}

.description {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #303030;
}