.details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.questionTitle {
    height: 40px;
    width: 75%;
    margin-bottom: 20px;
    border-radius: 8px;
    background: linear-gradient(90deg, #f0f0f0 25%, #d3d3d3 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s linear infinite;
}

.questionDescription {
    height: 60px;
    border-radius: 8px;
    background: linear-gradient(90deg, #f0f0f0 25%, #d3d3d3 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s linear infinite;
}

.answerTitle {
    height: 40px;
    width: 30%;
    margin-bottom: 20px;
    border-radius: 8px;
    background: linear-gradient(90deg, #f0f0f0 25%, #d3d3d3 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s linear infinite;
}

.shortAnswerDescriprion {
    height: 150px;
    border-radius: 8px;
    background: linear-gradient(90deg, #f0f0f0 25%, #d3d3d3 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s linear infinite;
}

.answerDescriprion {
    height: 400px;
    border-radius: 8px;
    background: linear-gradient(90deg, #f0f0f0 25%, #d3d3d3 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s linear infinite;
}


@keyframes loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}