.button {
    height: 17px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.active {
    background-color: #6a0bff;
    border-radius: 3px;
    min-width: 21px;
    min-height: 25px;
    padding: 2px 6px;
    color: white;
    cursor: default;
}