.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
}

.authLink {
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    color: #6A0BFF;
}

.authButton {
    width: 170px;
    height: 48px;
    background-color: #6A0BFF;
    border-color: #6A0BFF;
    color: white;
    border: none;
    border-radius: 13px;
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    cursor: pointer;
}
