.item {
    padding: 16px 24px;
    margin-bottom: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 #6a63761a;
    transition: padding .2s ease-in-out;
}

.titleContent {
    transition: margin-bottom .3s ease-in-out;
}

.titleButton {
    align-items: flex-start;
    background-color: initial;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    position: relative;
    padding-left: 16px;
    transition: color .3s ease-in-out;
}

.title::before {
    width: 8px;
    height: 8px;
    background-color: #5533FF;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 7px;
    content: "";
}

.chevrone {
    transition: transform .3s ease-in-out;
}

.accordeon {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}

.gradeList {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

/* .detailsButton {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border: none;
    border-radius: 8px;
    gap: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    background-color: #F8F8F8;
    cursor: pointer;
    color: #141414;
}
.detailsButton:hover {
    color: #6A0BFF;
} */

.open {
    .chevrone {
        transform: rotateZ(-180deg);
    }

    .accordeon {
        max-height: 700px;
    }

    .titleContent {
        margin-bottom: 20px;
    }
}