* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  padding-top: 70px;
}