.categoryTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #474747;
    margin-bottom: 8px;
}

.categoryList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.categoryButton {
    align-items: center;
    background-color: initial;
    border: 1px solid #bababa;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    padding: 12px;
    width: fit-content;
    cursor: pointer;
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
}

.categoryButton:hover {
    background-color: #6A0BFF;
    border-color: #6A0BFF;
    color: white;
}

.selected {
    border-color: #6A0BFF;
}