.category {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.categoryTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #474747;
    cursor: default;
}

.categoryList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.categoryButton {
    align-items: center;
    background-color: initial;
    border: 1px solid #bababa;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    padding: 12px;
    width: fit-content;
    cursor: pointer;
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
}

.categoryButton:hover {
    background-color: #6A0BFF;
    border-color: #6A0BFF;
    color: white;
}

.selected {
    border-color: #6A0BFF;
}

.showMoreButton {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #5509CC;
}

.showMoreButton:hover {
    text-decoration: underline solid 0% #5509CC;
}