.category {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.categoryTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #474747;
    cursor: default;
}

.categoryList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}