.questionsList {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.questionsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 24px;
}

.title {
    margin-bottom: 17px;
    min-width: 102px;
    height: 29px;
    border-radius: 8px;
}

.card {
    width: 100%;
    height: 56px;
    border-radius: 8px;
    margin-bottom: 24px;
}

.skeleton {
    background: linear-gradient(90deg, #f0f0f0 25%, #d3d3d3 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s linear infinite;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}