.arrowButton {
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #6a0bff;
    border-radius: 50%;
    color: #6a0bff;
    background-color: white;
    transition: all 0.3s ease;
}

.arrowButton:hover {
    background-color: rgba(30, 30, 30, 0.1);
}

.arrowButton:disabled {
    cursor: default;
    pointer-events: none;
    border-color: #d1d1d1;
    color: #d1d1d1;
}