.questionsWrapper {
    border-radius: 16px;
    padding: 24px;
    background-color: #fff;
}

.questionsList {
    display: flex;
    flex-direction: column;
}

.questionsTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 24px;
}

.title {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 120%;
    color: #191919;
    margin-bottom: 17px;
}