.filters {
    height: auto;
    max-width: 360px;
    min-width: 360px;
    position: sticky;
    top: 0;
}

.filtersList {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.categoryTitle {
    height: 20px;
    width: 50%;
    border-radius: 4px;
    background: linear-gradient(90deg, #f0f0f0 25%, #d3d3d3 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s linear infinite;
}

.categoryList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.categoryItem {
    height: 45px;
    min-width: 100px;
    border-radius: 12px;
    background: linear-gradient(90deg, #f0f0f0 25%, #d3d3d3 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s linear infinite;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}