.level,
.skills {
    margin-bottom: 24px;
}

.gradeList {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.infoTitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #474747;
    margin-bottom: 16px;
    cursor: default;
}

.skillsList,
.keywordsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}