.search {
    height: 44px;
    max-width: 400px;
    align-items: center;
    background-color: inherit;
    border: 1px solid #e8e8e8;
    border-radius: 12px;
    color: #d1d1d1;
    cursor: text;
    display: inline-flex;
    gap: 8px;
    max-width: 100%;
    min-height: 48px;
    padding: 0 16px;
    position: relative;
    transition: .2s;
    width: 100%;
}

.search:hover {
    border-color: #d2b6ff;
}

.search:active {
    border-color: #6a0bff;
}

.input {
    align-self: center;
    background: #0000;
    border: none;
    box-sizing: border-box;
    color: #191919;
    flex-grow: 1;
    line-height: 120%;
    outline: none;
    font-size: 100%;
}